/* Put your code here */


.grid{
    display: grid;
    grid-template: 100px 200px / 200px auto 150px;
}

.grid div:nth-child(1) {
    grid-row: auto / span 2;
}

.grid div:nth-child(2) {
    grid-row-start: 2;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 2;
}

.grid div:nth-child(5) {
    grid-row: 1 / 2;
    grid-column: 1 / 3;
}