/* Naming Grid Lines*/


.grid{
    display: grid;
    grid-template: 100px 100px / 200px auto 150px;
    /* grid-row-gap: 10px;
    grid-column-gap: 10px; */
    grid-gap: 10px;
}

.grid div:nth-child(6){
    order: -1;
}

.grid div:nth-child(3){
    order: 1;
}

.grid div:nth-child(2){
    order: 2;
}