* {
    color: black;
    text-shadow: 1px 1px 0 #fff;
    box-sizing: border-box;
    font-family: Ubuntu, Helvetica, Verdana, Arial, sans-serif;
}

html {
    background: linear-gradient(-10deg, #fff, grey);
    min-height: 100vh;
    font-size: 22px;
}

.grid2>* {
    text-align: center;
    padding-top: 12px;
    background: orange;
}

.header {
    background-color: rgb(27, 43, 35);
}




.content {
    background-color: rgb(108, 111, 77);
}

.aside {
    background-color: rgb(61, 85, 58);
}

.footer {
    background-color: rgb(65, 62, 58);
}