
.grid{
    display: grid;
    grid-template: 80px 300px 150px / auto auto auto;
    grid-gap: 10px;
}

.grid2{
    display: grid;
    grid-template: 50px 50px / 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
}

.header{
    grid-column: 1 / span 3;
    grid-row: 1 / span 1;
}

.content{
    grid-column: 1 / span 2;
    grid-row: 2 / span 1;
}

.aside{
    grid-column: 3 / span 1;
    grid-row: 2 / span 1;
}

.footer{
    grid-column: 1 / span 3;
    grid-row: 3 / span 1;
}


.grid2 div:nth-child(3){
    order: -1;
}
.grid2 div:nth-child(1){
    order: 2;
}
.grid2 div:nth-child(5){
    order: 1;
}