/*
 * Please don't modify this file, use main.css instead.
 * @author Peter Sommerhoff<peter@petersommerhoff.com>
 */

* {
  color: #fff;
  text-shadow: 1px 1px 0 #000;
  box-sizing: border-box;
  font-family: Ubuntu, Helvetica, Verdana, Arial, sans-serif;
}

html {
  background: black;
  min-height: 100vh;
  font-size: 22px;
}

body {}

code {
  margin: 1px 5px;
  padding: 2px 5px 1px 5px;
  font-family: monospace;
  border-radius: 2px;
  border: 1px dotted #fff;
}

p {
  margin: 25px 10px;
}

h2 {
  text-align: center;
  margin-top: 50px;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.outlined {
  height: 200px;
  border: 1px solid #fff;
  margin-bottom: 50px;
}

.grid>* {
  color: #fff;
  /* background-color: rgba(255, 255, 255, 0.15);
  border: 1px solid #fff; */
  /* border-radius: 2px; */
  padding: 20px;
  margin: 0px;
  text-align: center;
}

.grid a {
  display: block;
}

.grid>a:hover {
  background-color: rgba(255, 255, 255, 0.25);
  text-decoration: none;
  transition: background-color ease 0.5s;
}

.breadcrumb-listing {
  padding: 0;
  margin-bottom: 0;
}

.intro {}

.sidebar {
  border-left: 3px solid rgb(92, 92, 92);
  
}

.sidebar ul {
  list-style-type: none;
}

.sidebar>ul>a>li{
  color: maroon;
  background: #FFF;
  /* color: #fff; */
  text-shadow: none;
  font-weight: bold;
  /* box-sizing: border-box; */
  font-family: Helvetica, Verdana, Arial, sans-serif;
}

.CTA {
  background-color: rgba(255, 255, 255, 0.15);
  border: 1px solid #fff;
}

.content-type,
.content-type>* {
  color: hsl(204, 102%, 55%);
  background: #FFF;
  /* color: #fff; */
  text-shadow: none;
  box-sizing: border-box;
  font-family: Ubuntu, Helvetica, Verdana, Arial, sans-serif;
}

.footer {
  background: hsl(216, 100%, 22%);
}