/* Naming Grid Lines*/

.grid {
    display: grid;
    /* grid-template: repeat(auto, 100px) / repeat(24, 25px); */
    grid-template-columns: repeat(auto-fill, minmax(24, 1fr));
}

.grid div img {
    max-width: 100%;
}

.header-shadow {
    padding-top: 100px;
    /* background: linear-gradient(to bottom, #ffffff00, #000000), url("https://www.quackit.com/pix/samples/17l.jpg") no-repeat center; */
    background: linear-gradient(to bottom, #ffffff00 75%, hsl(216, 100%, 22%) 77%, #ffffff00 77%, hsl(216, 100%, 22%) 79%, #ffffff00 79%, hsl(216, 100%, 22%) 81%, hsl(216, 100%, 22%) 100%), url("https://www.quackit.com/pix/samples/17l.jpg") no-repeat center;
    ;
    background-size: cover;
}


/* .header-shadow h1 {
    text-align: center;
    padding-bottom: 100px
} */

.breadcrumb-listing {
    list-style-type: none;
    display: flex;
}

.grid div:nth-child(1) {
    grid-column: auto / span 24;
}

.grid :nth-child(2) {
    grid-column: auto / span 18;
}

.grid :nth-child(3) {
    grid-column: auto / span 6;
}

.grid :nth-child(4) {
    grid-column: auto / span 12;
}

.grid :nth-child(5) {
    grid-column: auto / span 12;
}

.grid :nth-child(6) {
    grid-column: 1 / span 24;
}

.grid :nth-child(7) {
    grid-column: 1 / span 24;
}